<!-- simple auto complete -->
<!-- <div>
  <mat-form-field appearance="outline">
    <mat-label>Simple Autocomplete</mat-label>
    <input type="text" matInput [matAutocomplete]="auto" />
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let country of countries" [value]="country">
      {{ country }}
    </mat-option>
  </mat-autocomplete>
</div> -->

<!-- custom filter -->
<!-- <div>
  <mat-form-field appearance="outline">
    <mat-label>Custom Filter</mat-label>
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [formControl]="formControl"
    />
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let country of filteredCountries | async"
      [value]="country"
      >{{ country }}
    </mat-option>
  </mat-autocomplete>
</div> -->

<!-- Highlight first option -->
<!-- <div>
  <mat-form-field appearance="outline">
    <mat-label>Highlight First Option</mat-label>
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [formControl]="formControl"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let country of filteredCountries | async"
        [value]="country"
      >
        {{ country }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div> -->

<!-- attach panel to another component -->
<div
  style="
    outline: 1px solid darkgrey;
    width: 370px;
    height: 400px;
    margin-left: 40px;
  "
>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Attach Autocomplete To Another Component</mat-label>
      <input
        type="text"
        matInput
        [matAutocomplete]="auto"
        [formControl]="formControl"
        [matAutocompleteConnectedTo]="origin"
      />
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let country of filteredCountries | async"
        [value]="country"
        >{{ country }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <mat-label
    matAutocompleteOrigin
    #origin="matAutocompleteOrigin"
    style="position: relative; top: 100px; width: 300px; margin-left: 20px"
  >
    This is a label with the autocomplete panel attached
  </mat-label>
</div>

<!-- Option groups -->
<!-- <form [formGroup]="countyForm">
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="Counties Group"
      formControlName="countyGroup"
      required
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup
        *ngFor="let group of countyGroupOptions | async"
        [label]="group.capital"
      >
        <mat-option *ngFor="let name of group.names" [value]="name">
          {{ name }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
