mat-form-field  {
  margin-left: 50px;
  margin-top: 25px;
}

hr {
  height:1px;
  background-color: lightgray;
  border: none
}

li {
  list-style: none
}

.position {
  margin-left: 50px;
  margin-top: 25px;
}

mat-radio-button {
  margin-right: 30px;
}
