<ng-container>
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['form-controls/auto-complete']"
  >
    Autocomplete
  </button>
  &nbsp;
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['form-controls/mat-icon']"
  >
    Mat Icon
  </button>
  &nbsp;
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['form-controls/mat-form-field']"
  >
    Mat Form Field
  </button>
  &nbsp;
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['form-controls/mat-table']"
  >
    Mat Table
  </button>
  &nbsp;
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['form-controls/simple-controls']"
  >
    Simple Controls
  </button>
</ng-container>
<router-outlet></router-outlet>
